body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 60px;
    background-color: #333; 
    color: #f4f4f4; 
}

h1 {
    color: #f4f4f4; 
}

p {
    color: #d1d1d1; 
}
